.About {
    min-height: 300vh;
    background-color: #e1dfdd;
    justify-content: center;
    

    box-sizing: border-box;
    overscroll-behavior:none;
    display: grid;
    grid-template-columns: 2fr 8fr 8fr 2fr;
    grid-template-rows: 1fr 3fr 5fr 5fr;
    grid-template-areas: 
    "left topL topR right"
    "left centerL centerR right"
    "left txtL txtR right"
    "paral paral paral paral"
}
.left {
    align-items: center;
    justify-content: center;
}
.right {
    align-items: center;
    justify-content: center;
}

.topL {
    height: 25vh;
   

}

.centerL {
    grid-area: center;
    width: 100%;
}
.centerR {
    overflow: hidden;
}

.txtL {
    overflow: hidden;
  
    grid-area: txtL;
}
.txtR {
    overflow: hidden;
}
.paral {
    grid-area: paral;
}
.paral a {
    z-index: 100;
    color: black;
    position: relative;
    text-decoration: none;
}