.Body {
    min-height: 200vh;
    background-color: #F3E9DC;
    
}
.top {
    height: 25vh;

}
@font-face {
    font-family: thicker;
    src: local("Oliver-Font"), url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
}
.center {
    width: 80%;
    
}
.thick {
    font-family: thicker;
    font-size: 5em;
    background-color: #F3E9DC;
    margin: 0;
    padding: 1em;
    padding-top: .5em;
    padding-left: 2.5em;
    color: #444346;
}
.vertical-left {
    border-left: 2px solid #433e3f;
    height: 60%;
    position:fixed;
    left: 5%;
    z-index: 5;
    float: left;
}
.vertical-right {
    border-right: 2px solid #433e3f;
    height: 60%;
    position: fixed;
    right: 5%;
    z-index: 5;
    float: right;
}