.Body {
    min-height: 200vh;
    background-color: #e1dfdd;
    justify-content: center;
    

    box-sizing: border-box;
    overscroll-behavior:none;
    display: grid;
    grid-template-columns: 2fr 8fr 8fr 2fr;
    grid-template-rows: 2fr 3fr 5fr;
    grid-template-areas: 
    "left topL topR right"
    "left centerL centerR right"
    "left txtL txtR right"

    
}
.topL {
    height: 25vh;
    grid-area: topL;

}
.topR {
    grid-area: topR;

}
.TZ {
    display: flex;
}
@font-face {
    font-family: thicker;
    src: local("Oliver-Font"), url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
}
.centerL {
    grid-area: centerL;
    width: 100%;
}
.centerL p {
    margin: 0;

}
.centerR {
    grid-area: centerR;

}
.thick {
    font-family: thicker;
    font-size: 7vmin;
    margin-top: 3em;
    background-color: #e1dfdd;
    color: #000000;
}
.txtL {
  
    grid-area: txtL;
}
.txtR {
    grid-area: txtR;

}

.mainphoto {
    padding-left: 30rem;
    width: 25vmax;

    
}
.fullhr {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.left {
    align-items: center;
    display: flex;
    justify-content: center;
}
.right {
    align-items: center;
    display: flex;
    justify-content: center;
}
.vertical-left {
    border-left: 2px solid #dddde1;
    mix-blend-mode: difference;
    background-color: rgba(0, 0, 0, 0);
    height: 50%;
    position:fixed;
    z-index: 5;
    transition: all 800ms ease-in-out;
    top:25%;
}
.vertical-right {
    border-right: 2px solid #dddde1;
    mix-blend-mode: difference;
    background-color: rgba(0, 0, 0, 0);
    height: 50%;
    position: fixed;

    z-index: 5;

    transition: all 800ms ease-in-out;
    top:25%;
}
.vertical-right-tall {
    mix-blend-mode: difference;
    background-color: rgba(0, 0, 0, 0);
    border-right: 2px solid #dddde1;
    transition: all 800ms ease-in-out;
    top: 15%;
    
    height: 70%;
    position: fixed;
    z-index: 5;

}
.vertical-left-tall {
    mix-blend-mode: difference;
    background-color: rgba(0, 0, 0, 0);
    height: 70%;
    top: 15%;
    transition: all 800ms ease-in-out;
    border-left: 2px solid #dddde1;
    position:fixed;
    z-index: 5;
}
