.MainFooter {
    background: rgb(40,40,40);
    min-height: 100vh;
    color: white;
    text-align: left;
    justify-content: left;
    font-size:1vmin;
    padding-top: .2vh;
    overscroll-behavior:none;
    justify-content: space-between;
    width: 100%;
    box-sizing: inherit;
    position: relative;
    bottom: 0;
    z-index: 4;

}
.hover-underline-animationF {
    display: inline-block;
    position: relative;
    font-size: 2.2vmin;
    text-decoration:none; 
    color: white;
    opacity: .5;
    font-weight: 500;
  }
.hover-underline-animationF:hover {
  opacity: .8;
  transition: .5s ease-in-out;
}
.hover-underline-animationF:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform .5s ease-in-out;
  }
  
  .hover-underline-animationF:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.inside {
    list-style: none;
    margin-top: 1vh;
    height: 100%;
    justify-content: left;
    bottom: 0;
    align-items: left;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
    grid-template-rows: 2fr 4fr 2fr;
    grid-template-areas: 
    ". . . . ."
    ". dire dire dire ."
    ". lft social rft ."
}
.social {
  grid-area: social;
  list-style-type: none;
  align-items: left;
  justify-content: left;
}

.social ul {
  list-style-type: none;
  align-items: left;
  justify-content: left;
  padding: 0;
}
.social p {
  font-size: 2.2vmin;
}
.lft {
  grid-area: lft;
}
.lft ul {
  list-style-type: none;
  padding: 0;
}
.rft {
  grid-area: rft;
  font-size: 2.2vmin;
  margin: 0;
}
.rft p {
  margin: 0;
}
.opaqti {
  font-size: 2.2vmin;
}
.dire {
  grid-area: dire;
}
.dire h1 {
  font-size: 10em;
  margin: 0;
}
.dire h2 {
  font-size: 8em;
  margin: 0;
  opacity: .8;
}
.ctc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-300%, -50%);
  transition: .5s ease-in-out;
  font-size: 2.2vmin;
}