.MainFooter {
    background-color: #e1dfdd;
    min-height: 9vh;
    color: black;
    text-align: center;
    justify-content: center;
    font-size:1vmin;
    padding-top: .2vh;
    overscroll-behavior:none;
    justify-content: space-between;
    width: 100%;
    box-sizing: inherit;
    bottom: 0;

}

.outside {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    height: 3.0vmin;
    margin-top: 1vmin;

    align-items: center;
    gap: .2vw;
}
.copyright {
    font-size: 2.2vmin;
    
}
.inside {
    list-style: none;
    margin-top: 1vh;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 7%;
    align-items: center;
}
.icons {
    width: 2.7vmin;
}