
.App {
  text-align: center;
}
.down {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform-origin: bottom;
}
.up {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:100vh;
  background-color: black;
  transform-origin: top;
}
.poggywoggy {
  background-color: #e1dfdd;
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
  max-height: 2000vh;
  overscroll-behavior:none;
  grid-template-columns: 100%;
  grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [last-line];
  grid-template-areas: 
  "Navbar"
  "Body"
  "Footer";
  grid-gap: 1.5rem;
}
.left {
  align-items: center;
  justify-content: center;
}
.right {
  align-items: center;
  justify-content: center;
}

.navy {
  grid-area: Navbar;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

Body {
  grid-area: Body;
  overscroll-behavior: none;
  grid-row-start: row1-end;
  grid-row-end: 3;
}

Footer {
  grid-area: Footer;
  grid-row-start: 3;
  grid-row-end: last-line;
}
