.Nav-main {
    
  width: 100%;
  height:100%;
  box-sizing: border-box;
  overscroll-behavior:none;
  display: grid;
  grid-template-columns: 2fr 6fr 4fr 6fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "Left-navS Left-navG middle-nav Right-nav scroller"
}

.Left-navS {
  display: flex;
  font-size: 1.8vmin;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

}
.Left-navG {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;

  padding: auto;  
}
.middle-nav {
  width: 100%;
  align-items: center;
  padding: auto;
  font-size: 2vmin;
  display: flex;
  color: #dddde1;
}
.middle-nav a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Right-nav {
  height:100%;
  display: flex;
  overflow: none;
  align-items: center;
  gap: 5%;
  font-size: 2.5vmin;
  color: #dddde1;
  justify-content: right;
}

.Right-nav a {
  text-decoration: none;
  color: #dddde1;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  font-size: 2.5vmin;
  text-decoration:none; 
  color: #dddde1;
  font-weight: 500;
}
.hover-underline-animation.active {
  display: inline-block;
  position: relative;
  font-size: 2.5vmin;
  text-decoration:none; 
  color: #dddde1;
  height: auto;
  font-weight: 500;
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #dddde1;
  transform-origin: bottom right;
  transition: transform .5s ease-in-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .active {
    height: 10vh;
    position: fixed;
    mix-blend-mode: difference;
    width: 100%;
    font-size: calc(10px + 2vmin);
    z-index: 9;
    background-color: rgba(0, 0, 0, 0);



    
  }
  .App-link {
    color: orange;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 
  .App-logo {
    height: 5vmin;
    pointer-events: none;
    
  }
  .stroke {
    z-index: 1;
    position: absolute;

}
.Afill {
    z-index: 1;
    position: absolute;
}
.drawing {
  position: relative;
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translate(0, -10%);
}
@media only screen and (max-width: 768px) {
 .mobile-right {
  
    height: 100%;
    max-width: 50%;
    padding-right: 5%;
    display:flex;
    align-items: center;
 }

 .menuIMG {
  width: 5vmin;
 }
 .Right-nav {
  display: none;
  mix-blend-mode: difference;

 }
}

.scroller {
  justify-content: right;
  position: relative;
  margin: auto;
}

#progress {
  position: relative;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: #dddde1;
  opacity: 0.3;
}

#progress .indicator {
  stroke: #dddde1;
}