.Nav-main {
    
  width: 100%;
  height:100%;
  box-sizing: border-box;
  overscroll-behavior:none;
  display: grid;
  grid-template-columns: 5fr 8fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "Left-nav middle-nav Right-nav"

}

.Left-nav {
  display: flex;
  gap: 5%;
  font-size: 1.8vmin;
  height: 100%;
  margin-left: 10%;
  align-items: center;
  justify-content: left;
  
}

.middle-nav {

}

.Right-nav {
  height:100%;
  display: flex;
  overflow: none;
  align-items: center;
  gap: 10%;
  font-size: 2.5vmin;
  color: #dddde1;
}

.Right-nav a {
  text-decoration: none;
  color: #dddde1;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  font-size: 2.5vmin;
  text-decoration:none; 
  color: #dddde1;
  font-weight: 500;
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #dddde1;
  transform-origin: bottom right;
  transition: transform .5s ease-in-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .active {
    height: 10vh;
    position: fixed;
    mix-blend-mode: difference;
    width: 100%;
    font-size: calc(10px + 2vmin);
    z-index: 9;
    background-color: rgba(0, 0, 0, 0);



    
  }
  .App-link {
    color: orange;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 
  .App-logo {
    height: 5vmin;
    pointer-events: none;
    
  }
  .stroke {
    z-index: 1;
    position: absolute;

}
.Afill {
    z-index: 1;
    position: absolute;
}
.drawing {
  padding-bottom: 1em;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .mobile-right {
  
    height: 100%;
    max-width: 50%;
    padding-right: 5%;
    display:flex;
    align-items: center;
 }

 .menuIMG {
  width: 5vmin;
 }
 .Right-nav {
  display: none;
  mix-blend-mode: difference;

 }
}
